<div class="stripe-blue">
    <div class="container">
        <h1>{{resources.IndicatorDetails}}</h1>
    </div>
</div>
<div class="stripe stripe-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-default btn-primary" type="button" ng-click="saveIndicator()"><span class="glyphicon glyphicon-floppy-save"></span> {{resources.Save}}</button>
                    <button class="btn btn-default btn-danger" type="button" ng-click="deleteIndicator()"><span class="glyphicon glyphicon-remove"></span> {{resources.Delete}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="indicatorForm" novalidate>
                    <fieldset>
                        <legend>{{resources.Details}}</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <form-input ng-model="indicator.Name" config="config.Name"></form-input>
                            </div>
                            <div class="col-md-6">
                                <form-input ng-model="indicator.Code" config="config.Code"></form-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form-input ng-model="indicator.Description" config="config.Description"></form-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <form-input ng-model="indicator.Unit" config="config.Unit"></form-input>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" show-errors>
                                    <label for="IndicatorTypeId">{{config.IndicatorTypeId.DisplayName}}</label>
                                    <select class="form-control" id="IndicatorTypeId" name="indicatorTypeId" ng-model="selectedIndicatorType" ng-options="c.Name for c in indicatorTypeList track by c.Id" required></select>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <form-input ng-model="indicator.StartDate" config="config.StartDate"></form-input>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" show-errors>
                                    <label for="ComparisonValueType">{{config.ComparisonValueType.DisplayName}}</label>
                                    <select class="form-control" id="ComparisonValueType" name="comparisonValueType" ng-model="selectedComparisonValue" ng-options="c.name for c in config.ComparisonValueType.Options track by c.id" required></select>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" show-errors>
                                    <label for="PeriodicityType">{{config.PeriodicityType.DisplayName}}</label>
                                    <select class="form-control" id="PeriodicityType" name="periodicityType" ng-model="selectedPeriodicity" ng-options="p.name for p in config.PeriodicityType.Options track by p.id" required></select>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" show-errors>
                                    <label for="ObjectValueType">{{config.ObjectValueType.DisplayName}}</label>
                                    <select class="form-control" id="ObjectValueType" name="objectValueType" ng-model="selectedObjectValue" ng-options="o.name for o in config.ObjectValueType.Options track by o.id" required></select>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" show-errors>
                                    <label for="Manager">{{config.ManagerId.DisplayName}}</label>
                                    <select class="form-control" id="Manager" name="manager" ng-model="selectedManager" ng-options="u.Name for u in userList track by u.Id" required></select>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form-input ng-model="indicator.FulfillmentRate" config="config.FulfillmentRate"></form-input>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row" ng-if="!isNew()">
            <div class="col-md-12">
                <fieldset>
                    <legend>{{resources.Measures}}</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="btn-group text-right">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{resources.Actions}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="measure in measures">
                                            <a ng-if="measure.Year !== 0" ng-show="showYear(measure.Year)" ng-click="switchYear(measure.Year)">{{resources.Show}} {{measure.Year}}</a>
                                        </li>
                                        <li role="separator" ng-if="measures.length > 1" class="divider"></li>
                                        <li><a ng-disabled="globalEdit" ng-click="addPeriod()">{{resources.AddPeriod}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <toaster-container toaster-options="{'time-out': 3000, 'animation-class': 'toast-top-right'}"></toaster-container>
                            <table ng-table="tableParams" class="table table-curved table-bordered table-condensed">
                                <tr ng-repeat="row in $data track by row.Id" ng-form="rowForm" tracked-table-row="row">
                                    <td data-title="resources.Date" sortable="'Date'" class="col-md-4 td-white" ng-form="date" ng-switch="canEdit(row)">
                                        <span ng-switch-default class="editable-text">{{formatGraphDate(row.Date)}}</span>
                                        <form-input ng-switch-when="true" ng-model="row.Date" hide-label="true" config="measuresConfig.Date"></form-input>
                                    </td>
                                    <td data-title="measuresConfig.RealValue.DisplayName" class="text-right col-md-3 td-white" ng-form="realValue" ng-switch="canEdit(row)">
                                        <span ng-switch-default class="editable-text">{{row.RealValue}} {{indicator.Unit}}</span>
                                        <form-input ng-switch-when="true" ng-model="row.RealValue" hide-label="true" config="measuresConfig.RealValue"></form-input>
                                    </td>
                                    <td data-title="measuresConfig.TargetValue.DisplayName" class="text-right col-md-3 td-white" ng-form="targetValue" ng-switch="canEdit(row)">
                                        <span ng-switch-default class="editable-text">{{row.TargetValue}} {{indicator.Unit}}</span>
                                        <form-input ng-switch-when="true" ng-model="row.TargetValue" hide-label="true" config="measuresConfig.TargetValue"></form-input>
                                    </td>
                                    <td class="text-right td-white col-md-2">
                                        <button class="btn btn-primary btn-sm" ng-click="savePeriod(row, rowForm)" ng-if="canEdit(row)"><span class="glyphicon glyphicon-ok"></span></button>
                                        <button class="btn btn-default btn-sm" ng-click="cancelPeriod(row, rowForm)" ng-if="canEdit(row)"><span class="glyphicon glyphicon-remove"></span></button>
                                        <button class="btn btn-default btn-sm" ng-click="editPeriod(row)" ng-if="!canEdit(row)" ng-disabled="globalEdit"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button class="btn btn-danger btn-sm" ng-click="deletePeriod(row)" ng-if="!canEdit(row)" ng-disabled="globalEdit"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row" ng-if="selectedYear !== 0 && getSelectedYearData().length > 0">
            <div class="col-md-12">
                <canvas id="graph" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-legend="true" chart-series="series"
                        chart-options="options" chart-colours="colours"></canvas>
            </div>
        </div>
    </div>
</div>
