<div class="panel" ng-class="getIndicatorStateClass()">
    <div class="panel-heading" ng-click="navigateToDetails()">
        {{indicator.Name}}
    </div>
    <div class="panel-body" ng-click="navigateToDetails()">
        <div class="row">
            <div class="col-md-6">
                {{indicator.Description}}
            </div>
            <div class="col-md-3">
                {{indicator.ManagerName}}
            </div>
            <div class="col-md-2">
                {{indicator.LastRecordValue}}/{{indicator.LastTargetValue}}
            </div>
            <div class="col-md-1">
                {{indicator.State}}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div ng-show="showingPanel">
            <div class="col-md-12">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-legend="true" chart-series="series"
                        chart-click="onClick" chart-colours="colours"></canvas>
            </div>
        </div>
        <button type="button" class="btn btn-default btn-xs" ng-click="action()" style="width: 100%"><<>></button>
    </div>
</div>


