<div class="row">
    <div class="col-md-12">
        <form name="indicatorForm" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" type="submit" ng-disabled="globalEdit" ng-click="submitIndicator()">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" name="name" placeholder="Name" ng-model="indicator.Name" required />
                        <p class="help-block" ng-if="indicatorForm.name.$error.required">The indicator's name is required</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <label for="Code">Code</label>
                        <input type="text" class="form-control" id="Code" name="code" placeholder="Code" ng-model="indicator.Code" required />
                        <p class="help-block" ng-if="indicatorForm.code.$error.required">The indicator's code is required</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" show-errors>
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" name="description" placeholder="Description" ng-model="indicator.Description" required />
                        <p class="help-block" ng-if="indicatorForm.description.$error.required">The indicator's description is required</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <label for="Unit">Unit</label>
                        <input type="text" class="form-control" id="Unit" name="unit" placeholder="Unit" ng-model="indicator.Unit" required />
                        <p class="help-block" ng-if="indicatorForm.unit.$error.required">The indicator's unit is required</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="active" ng-model="indicator.Active">Active
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" show-errors>
                        <label for="StartDate">StartDate</label>
                        <input type="date" class="form-control" id="StartDate" name="startDate" placeholder="Start Date" ng-model="startDate" required />
                        <p class="help-block" ng-if="indicatorForm.startDate.$error.required">The indicator's start date is required</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ComparisonValueType">Comparison Value</label>
                        <select class="form-control" id="ComparisonValueType" name="comparisonValueType" ng-model="selectedComparisonValue" ng-options="c.name for c in comparisonValueTypeList track by c.id"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="PeriodicityType">Periodicity Type</label>
                        <select class="form-control" id="PeriodicityType" name="periodicityType" ng-model="selectedPeriodicity" ng-options="p.name for p in periodicityTypeList track by p.id"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ObjectValueType">Value Type</label>
                        <select class="form-control" id="ObjectValueType" name="objectValueType" ng-model="selectedObjectValue" ng-options="o.name for o in objectValueTypeList track by o.id"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Manager">Manager</label>
                        <select class="form-control" id="Manager" name="manager"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" ng-disabled="globalEdit" ng-click="addRow()">Add row</button>
    </div>
    <div class="col-md-12">
        <toaster-container toaster-options="{'time-out': 3000, 'animation-class': 'toast-top-right'}"></toaster-container>
        <table ng-table="tableParams" class="table table-bordered table-striped table-condensed" tracked-table="tableTracker">
            <tr ng-repeat="row in $data track by row.Id" ng-form="rowForm" tracked-table-row="row">
                <td data-title="'Date'" sortable="'Date'" class="col-md-5" ng-form="date" ng-class="date.$dirty ? 'bg-warning' : ''" ng-switch="canEdit(row)" tracked-table-cell>
                    <span ng-switch-default class="editable-text">{{formatGraphDate(row.Date)}}</span>
                    <div ng-switch-when="true" show-errors>
                        <input type="date" name="date" ng-init="row.Date = formatDate(row.Date)" ng-model="row.Date" class="editable-input form-control" required/>
                    </div>
                    <p class="help-block" ng-if="date.$error.required">The date is required</p>
                </td>
                <td data-title="'Record value'" class="text-right col-md-3" ng-form="realValue" ng-class="realValue.$dirty ? 'bg-warning' : ''" ng-switch="canEdit(row)" tracked-table-cell>
                    <span ng-switch-default class="editable-text">{{row.RealValue}} {{indicator.Unit}}</span>
                    <div ng-switch-when="true" show-errors>
                        <input type="text" name="realValue" ng-model="row.RealValue" class="editable-input form-control text-right" ng-pattern="onlyNumbers" required/>
                    </div>
                    <p class="help-block" ng-if="realValue.$error.required">The real value of the indicator is required</p>
                    <p class="help-block" ng-if="realValue.$error.pattern">The real value of the indicator should be a number</p>
                </td>
                <td data-title="'Target value'" class="text-right col-md-3" ng-form="targetValue" ng-class="targetValue.$dirty ? 'bg-warning' : ''" ng-switch="canEdit(row)" tracked-table-cell>
                    <span ng-switch-default class="editable-text">{{row.TargetValue}} {{indicator.Unit}}</span>
                    <div ng-switch-when="true" show-errors>
                        <input type="text" name="targetValue" ng-model="row.TargetValue" class="editable-input form-control text-right" ng-pattern="onlyNumbers" required/>
                    </div>
                    <p class="help-block" ng-if="targetValue.$error.required">The target value of the indicator is required</p>
                    <p class="help-block" ng-if="targetValue.$error.pattern">The target value of the indicator should be a number</p>
                </td>
                <td class="text-right col-md-1">
                    <button class="btn btn-primary btn-sm" ng-click="updateRow(row, rowForm)" ng-if="canEdit(row)" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-default btn-sm" ng-click="cancelRow(row, rowForm)" ng-if="canEdit(row)"><span class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-default btn-sm" ng-click="editRow(row)" ng-if="!canEdit(row)" ng-disabled="globalEdit"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-danger btn-sm" ng-click="deleteRow(row)" ng-if="!canEdit(row)" ng-disabled="globalEdit"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-legend="true" chart-series="series"
                chart-click="" chart-options="options" chart-colours="colours"></canvas>
    </div>
</div>