@{
    ViewBag.Title = "Indicators";
}

<div class="indicatorApp" ng-app="indicatorsApp">
    <div ng-view></div>
</div>

<script src="/Scripts/app/indicators/app.js"></script>
<script src="/Scripts/app/indicators/controllers/list.js"></script>
<script src="/Scripts/app/indicators/controllers/details.js"></script>
<script src="/Scripts/app/indicators/services/api.js"></script>
<script src="/Scripts/app/indicators/directives/card.js"></script>