@{
    ViewBag.Title = "Indicators";
}

<div class="indicatorApp" ng-app="indicatorsApp">
    <div ng-view></div>
</div>

<script src="/Scripts/app/shared/app.js"></script>
<script src="/Scripts/app/shared/services/utils.js"></script>
<script src="/Scripts/app/shared/services/configuration.js"></script>
<script src="/Scripts/app/shared/directives/validation.js"></script>
<script src="/Scripts/app/indicators/app.js"></script>
<script src="/Scripts/app/indicators/controllers/list.js"></script>
<script src="/Scripts/app/indicators/controllers/details.js"></script>
<script src="/Scripts/app/indicators/services/api.js"></script>
<script src="/Scripts/app/indicators/services/graph.js"></script>
<script src="/Scripts/app/indicators/directives/card/controllers/controller.js"></script>
<script src="/Scripts/app/indicators/directives/card/card.js"></script>
<script src="/Scripts/app/indicators/directives/table/trackedTable.js"></script>
<script src="/Scripts/app/indicators/directives/table/trackedTableRow.js"></script>
<script src="/Scripts/app/indicators/directives/table/trackedTableCell.js"></script>